<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hw1"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HW1">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYQOEte9Q6jTVrtlayGdfc6y5lesUz2Gc" />

        <activity
            android:name=".Model.Records"
            android:exported="false" />
        <activity
            android:name=".Model.ThreeLaneRoad"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.FiveLaneRoad"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.GameOverScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>